<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>研究用データベース</title>
		<style>
			table {
  				border-collapse: collapse;
			}
			.col_attribute {width: 80px;}
		</style>
	</head>
	<body>
		<h1>論文データベース</h1>
		<div style="display:inline-flex">
			<form action="/">
				<input type="submit" value="トップへ" >
			</form>
			<form action="/thesis">
    			<input type="submit" value="論文トップへ" >
   			</form>
   		</div>
		<br></br>
		<table border=1>
			<tr>
				<th class="col_attribute">ID</th>
				<td th:text="${thesis.id}"></td>
			</tr>
			<tr>
				<th>論文名</th>
				<td th:text="${thesis.titleJa}"></td>
			</tr>
			<tr>
				<th>論文名</th>
				<td th:text="${thesis.titleEn}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author1}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author2}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author3}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author4}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author5}"></td>
			</tr>
			<tr>
				<th>著者名</th>
				<td th:text="${thesis.author6}"></td>
			</tr>
			<tr>
				<th>概要</th>
				<td th:text="${thesis.abs}"></td>
			</tr>
			<tr>
				<th>NII論文ID(NAID)</th>
				<td th:text="${thesis.NAID}"></td>
			</tr>
			<tr>
				<th>NII書誌ID(NCID)</th>
				<td th:text="${thesis.NCID}"></td>
			</tr>
			<tr>
				<th>ISSN</th>
				<td th:text="${thesis.ISSN}"></td>
			</tr>
			<tr>
				<th>NDL記事登録ID</th>
				<td th:text="${thesis.NDL_ID}"></td>
			</tr>
			<tr>
				<th>NDL請求記号</th>
				<td th:text="${thesis.NDL_code}"></td>
			</tr>
		</table>
		<form action="/thesis/preview">
			<input type="submit" value="PDFを開く"/>
			<input type="hidden" th:name = "pdf_path" th:value="${thesis.pdf_path}">
			<input type="hidden" th:name = "id" th:value="${thesis.id}">
		</form>
		<p><font color="red" th:text="${message}"></font></p>
		<br></br>
		<div style="display:inline-flex">
			<form method="get" action="/thesis/edit">
				<input type="submit" value="更新" >
				<input type="hidden" th:name = "id" th:value="${thesis.id}">
			</form>
			<form method="post" action="/thesis/delete">
    			<input type="submit" value="削除" >
    			<input type="hidden" th:name = "id" th:value="${thesis.id}">
   			</form>
   		</div>
	</body>
</html>